@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #460C68;
}

.category-active{
  background-color: #460C68;
  color: white;
}

li{
  text-align: left;
}


svg{
  margin: 0 20px;
  width: 40px;
  display: flex;
  justify-content: center;
}

.img{
  height: 240px;
  object-fit: cover;
}

.card{
  height: 100%;
}

.btn-primary{
  background-color: #460C68;
  border: none;
}

.penuh{
  width: 100%;
}

.shop-chart{
  margin: 0 4px;
}


